.food-component {
  background: rgba(0, 255, 34, 0.266);
  margin: auto;
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

select,
option {
  font-size: large;
}
select:focus option:checked {
  background: rgba(145, 255, 157, 0.685);
}
