.content-all {
  margin: auto;
  padding: 10px;
  text-align: center;
}
.content-data {
  display: flex;
  margin: 20px auto;
}

.content-menu {
  width: 50%;
  height: 80%;
  overflow-y: auto;
}
.content-details {
  width: 50%;

  border-radius: 10px;
}

@media screen and (max-width: 660px) {
  .content-menu {
    width: 100%;
  }
  .content-details {
    width: 100%;
  }
  .content-data {
    flex-direction: column;
  }
}
