.dish-card {
  background-color: rgb(218, 247, 240);
  border: 1px solid rgb(105, 140, 189);
  text-indent: 5px;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  width: 200px;
}
.selected .dish-card {
  background-color: rgb(142, 236, 214);
  border: 2px solid rgb(65, 155, 135);

  text-shadow: 1px rgb(83, 164, 145);
}

.dish-card p {
  text-align: center;
  padding-left: 10px;
}
.dish-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media screen and (max-width: 660px) {
  .dish-card {
    width: 90%;
  }
  .dish-card img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .dish-card p {
    width: 90%;
    text-align: start;
    padding-left: 2px;
    max-width: 40ch; /* Limits to 20 characters */
    white-space: nowrap;
    overflow: hidden; /* Hides the overflowed text */
    text-overflow: ellipsis; /* Adds ellipsis (...) at the end */
  }
  .dishId {
    display: none;
  }

  .selected .dish-card {
    display: none;
  }
}
